@font-face {
    font-family: "BYekan";
    src: url("/fonts/BYekan.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    a {
        text-decoration: none;
    }
}

.click {
    transition: all 0.5s ease !important;
    &:hover {
        transform: scale(0.9) !important;
        background-color: white !important;
        color: black !important;
        text-decoration: none !important ;
        border-radius: 0.5rem;
    }
}

.selected {
    background-color: white;
    color: black !important;
    border-radius: 0.5rem;
}

$color-1: #845ec2;
$color-2: #ddf1fa;
$color-3: #338ba7;

body,
html {
    width: 100%;
    min-height: 100vh;
    font-family: "BYekan", sans-serif;
}

nav {
}

body {
    display: grid;
    grid-template-areas:
        "nav nav"
        " app sidebar ";
    grid-template-columns: 80% 20%;
    grid-template-rows: 7rem auto;
    .nav {
        grid-area: nav;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        color: white;
        padding: 1.7em 4em;
        background-color: $color-1;
        .right {
            h1 {
                font-size: 2rem;
            }
        }
        .left {
            a {
                border: 0.1rem white solid;
                color: white;
                padding: 0.5em 1em;
                border-radius: 0.5rem;
            }
        }
    }
    .sidebar {
        grid-area: sidebar;
        background-color: $color-1;
        display: flex;
        flex-direction: column;
        padding: 5em 2em;
        gap: 1rem;
        .sidebar-header {
            background-color: white;
            text-align: right;
            font-size: 1.5rem;
            padding: 0.5em 1em;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
        }
        .sidebar-link {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                width: max-content;
                color: white;
                font-size: 1.2rem;
                border-right: 0.2rem white solid;
                padding: 0.5em 1em;
            }
        }
    }
    .app {
        display: flex;
        flex-direction: column;
        justify-content: start;
        direction: rtl;
        grid-area: app;
        padding-top: 4rem;
        .container-fluid {
            height: 100%;
            width: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .row {
                all: unset;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                height: 100%;

                .table-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10%;
                    gap: 2rem;

                    .table-container-header {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        h1 {
                            font-size: 2rem;
                        }
                        a {
                            color: white;
                            padding: 0.5em 1em;
                            border-radius: 0.3rem;
                            background-color: rgb(60, 172, 60) !important;
                        }
                    }

                    .table-container-body {
                        width: 100%;
                        height: max-content;
                        .table {
                            width: 100%;
                        }
                        tr {
                            text-align: center;
                            
                            a {
                                width: 10ch;
                                border-radius: 0.3rem;
                            }
                        }
                        td {
                            padding: 1em;
                            max-width: 9rem;
                            max-height: 3rem;
                            overflow: auto;
                            font-size: 0.9rem;
                            vertical-align: middle;
                            p {
                                max-height: 3rem;
                            }
                        }
                        .image {
                            width: 5rem;
                            img {
                                width: 100%;
                                width: 100%;
                                aspect-ratio: 1/1;
                                object-fit: cover;
                            }
                        }
                        .buttons {
                            width: 8rem;
                            form {
                                display: flex;
                                flex-direction: column;
                                gap: 0.5rem;
                                input ,a {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .full-size {
                    padding: 0 2.5%;
                }

                .category-create {
                    width: 20rem;
                    align-self: center;
                    form {
                        .form-group {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            width: 100%;
                            gap: 1rem;
                            label {
                                width: 20ch;
                            }
                            a,
                            button {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                min-width: 12ch;
                                height: 2.5rem;
                                border-radius: 0.5rem;
                            }
                        }
                    }
                }

                .posts-create {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    form {
                        width: 80%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 1rem;
                        .form-group {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            width: 45%;
                            gap: 1rem;
                            label {
                                width: 9ch;
                            }
                            a,
                            button {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                min-width: 12ch;
                                height: 2.5rem;
                                border-radius: 0.5rem;
                            }

                            textarea {
                                width: 100%;
                                resize: none;
                            }

                            .radio {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
